<h3>Page Editor - <a editable-text="data.edit.tag" onaftersave="sys.Sections.changed('tag')">{{data.edit.tag || '&lt;No Tag&gt;'}}</a></h3>
<form ng-show="data.edit" ng-controller="Edit">
  <div class="form-group">
    <label for="title">Title</label>
    <input ng-model="data.edit.name" type="text" class="form-control" id="title" aria-describedby="titleHelp">
    <small id="titleHelp" class="form-text text-muted">Your email address from your account with us</small>
  </div>
	<div ckeditor="options" ng-model="data.edit.content" rready="init(100)" ng-change="sys.Sections.changed('content')"></div>
</form>
