<footer title="All donations are used to fund the development and maintenance of this website">
	<hr style="margin-top: 0">
	<div class="center">
		<div style="margin-bottom: 10px">
			<img src="/img/logo.svg" alt="" width="24" height="24">
			<small>&copy; 2012-2020</small>
		</div>
		<img src="/img/QRCode.png" class="ng-hide">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="KBFSWE2BNVN3W" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			<img alt="" border="0" src="https://www.paypal.com/en_IE/i/scr/pixel.gif" width="1" height="1" />
		</form>
	</div>
</footer>